body {
  margin: 20px;
  background-color: lightgrey;
}

.app-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.note-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.note-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.notes-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.notes-header button {
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0;
}

h2 {
  margin-top: 0;
}

textarea,
input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.note-form button {
  align-self: flex-start;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(64, 154, 184);
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.note-form button:hover {
  background-color: rgb(106, 175, 198);
}

.favorites-section {
  margin-top: 20px;
}

ul {
  padding-left: 20px;
}